<section>
    <h2 class="coverage-title">Preguntas Frecuentes</h2>
    <details>
      <summary>¿Cómo puedo realizar el pago de mi factura?</summary>
      <div class="body-details">
        <p>Métodos de pago disponibles y cómo configurar pagos automáticos.</p>
        <div class="pagos">
          <ul>
            <li>Cuenta bancaria</li>
            <li>Yape</li>
            <li>Plin</li>
          </ul>
          <img src="assets/img/metodosdepago.png" alt="Metodos de pago" loading="lazy" decoding="async">
        </div>
      </div>
    </details>
  
    <details>
      <summary>¿Qué hago si tengo problemas con mi conexión?</summary>
      <div class="body-details">
        <p>Instrucciones básicas para solucionar problemas, como reiniciar el router.</p>
        <p>Solo desconecte el cargador del router.</p>
      </div>
    </details>
  
    <details>
      <summary>¿Cuánto tiempo tarda la instalación del servicio?</summary>
      <div class="body-details">
        <p>Detalles sobre el proceso de instalación y los tiempos estimados.</p>
        <p>El técnico que esté a cargo de la instalación le ayudará a ubicar dónde va a ir su router. Aproximadamente 2 horas dura una instalación.</p>
      </div>
    </details>
  
    <details>
      <summary>¿Ofrecen soporte técnico las 24 horas?</summary>
      <div class="body-details">
        <p>Horarios y canales de atención (teléfono, chat, correo electrónico).</p>
        <p>WhatsApp: 964876184 - 996395618</p>
        <p>Email: <a href="mailto:tteslanet@gmail.com">{{mail}}</a></p>
        <p>Horario: 8 AM - 7 PM</p>
      </div>
    </details>
  
    <details>
      <summary>¿Hay penalizaciones por cancelar el contrato?</summary>
      <div class="body-details">
        <p>Políticas de cancelación y costos asociados.</p>
        <p>El cliente puede decidir cancelar en cualquier momento, pero los routers instalados se entregan en calidad de préstamo.</p>
      </div>
    </details>
  
    <details>
      <summary>¿Qué equipos incluye el servicio?</summary>
      <div class="body-details">
        <p>Información sobre routers, módems, y si tienen costo adicional.</p>
        <p>Routers, conectores, cableado, todo en calidad de préstamo. En caso de desear una repetidora, genera un costo adicional al cliente.</p>
      </div>
    </details>
  
    <details>
      <summary>¿Puedo mejorar mi plan actual?</summary>
      <div class="body-details">
        <p>Detalles sobre cómo realizar actualizaciones de plan.</p>
        <p>Cumpliendo su fecha de pago, puede migrar al plan que desee.</p>
      </div>
    </details>
  
    <details>
      <summary>¿Ofrecen promociones para nuevos clientes?</summary>
      <div class="body-details">
        <p>Información sobre descuentos o beneficios de contratación inicial.</p>
        <p>Canales por streaming.</p>
      </div>
    </details>
  
    <details>
      <summary>¿Cómo protegen mi red contra ciberamenazas?</summary>
      <div class="body-details">
        <p>Descripción de medidas de seguridad (como firewalls o protección contra malware).</p>
        <p>Con equipos dedicados a esta clase de problemas como Fortinet, entre otros, respaldados por ingenieros expertos en el tema.</p>
      </div>
    </details>
  </section>
  