.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--color-50);
  color: var(--color-950);
}

.footer-container{
  width: 90rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer-container .footer-flex{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.footer-container .footer-flex .footer-contact{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.footer-container .footer-flex .footer-contact a{
  color: var(--color-950);
  text-decoration: none;
}

.footer-container .footer-flex .footer-social{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-container .footer-flex .footer-social .social-icons{
  display: flex;
  gap: 3rem;
}

.footer-container .footer-flex .footer-social .social-icons a i{
  color: var(--color-950);
  font-size: 2rem;
}

.footer-container .footer-flex .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-end;
}

.footer-container .footer-flex .footer-logo img{
  width: 220px;
}

@media (max-width: 768px){
  .footer-container .footer-flex{
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .footer-container .footer-flex{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-container .footer-flex .footer-contact{
    text-align: center;
  }

  .footer-container .footer-flex .footer-logo{
    align-items: center;
  }
  
  .footer-copyright{
    text-align: center;
  }
}