<section id="planes">
    <div class="container-plan">
        <div class="planes-head">
            <h1>Internet Fibra Óptica</h1>
            <span>¡Disfruta la mejor experiencia de navegación!</span>
        </div>
        <splide [options]="opciones">
            <splide-slide *ngFor="let imagen of imagenes; trackBy: trackByIndex">
              <div class="card-plan" [class.recommended]="imagen.veneficio.instalacion">
                <div class="card-head" *ngIf="imagen.veneficio.instalacion else sinInstalacion">
                    <span>{{imagen.veneficio.instalacion}}</span>
                </div>
                <ng-template #sinInstalacion>
                    <div class="card-head-2">
                        
                      </div>
                </ng-template>
                
                <div class="plan">
                    <div class="slogan">
                        <span>{{imagen.veneficio.tipo}}</span>
                    </div>
                    <div class="titulo">
                        <h2>{{imagen.plan}}</h2>
                    </div>
                    <div class="precio">
                        <span>
                            {{imagen.precio}}<span class="small-text">.0</span>
                        </span>
                    </div>
                    <div class="imagen">
                        <img [src]="imagen.src" [alt]="imagen.alt" loading="lazy" decoding="async">
                    </div>
                </div>
                <div class="accion">
                    <a [href]="generarUrlWhatsApp(imagen.plan, imagen.precio)" target="_blank" rel="noopener noreferrer">¡Quiero este plan!</a>
                </div>
                <div class="icons-servicio">
                    <div class="icon">
                        <mat-icon>swap_vert</mat-icon>
                        <span>Internet Simétrico</span>
                    </div>
                    <div class="icon">
                        <mat-icon>settings_input_component</mat-icon>
                        <span>100% Fibra óptica</span>
                    </div>
                    <div class="icon">
                        <mat-icon>router</mat-icon>
                        <span>Router de alta velocidad</span>
                    </div>
                    <div class="icon">
                        <mat-icon>speed</mat-icon>
                        <span>Velocidad garantizada</span>
                    </div>
                    <div class="icon">
                        <mat-icon>network_check</mat-icon>
                        <span>Incluye Wifi</span>
                    </div>
                    <div class="icon">
                        <mat-icon>downloading</mat-icon>
                        <span>Descarga Ilimitada</span>
                    </div>
                </div>
              </div>
            </splide-slide>
        </splide>  
    </div>  
</section>