<nav>
    <div class="container">
        <div class="logo">
            <a routerLink="/home" fragment="home">
                <img class="img-logo" src="assets/svg/footer.svg" alt="Teslanet" loading="lazy" decoding="async">
            </a>
        </div>
        <!-- Botón de menú (hamburger) -->
        <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
        <!-- Menú desplegable -->
        <div class="menu" [class.show]="menuVisible" [@menuAnimation]="menuState">
            <button class="close-button" (click)="closeMenu()">&#10005;</button>
            <ul>
                <li><a routerLink="/home" fragment="home" (click)="closeMenu()"> <span>Inicio</span> <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a routerLink="/planes" fragment="planes" (click)="closeMenu()"> <span>Planes</span> <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a routerLink="/beneficios" fragment="beneficios" (click)="closeMenu()"> <span>Beneficios</span> <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a routerLink="cobertura" fragment="cobertura" (click)="closeMenu()"> <span>Cobertura</span> <i class="fa-solid fa-arrow-right"></i></a></li>
            </ul>
            <div class="accion">
                <a [href]="urlWatssapp+textWatsapp" target="_blank" rel="noopener noreferrer">Contáctanos</a>
            </div>
        </div>
        <div class="menu-2">
            <ul>
                <li><a routerLink="/home" fragment="home">Inicio</a></li>
                <li><a routerLink="/planes" fragment="planes">Planes</a></li>
                <li><a routerLink="/beneficios" fragment="beneficios">Beneficios</a></li>
                <li><a routerLink="cobertura" fragment="cobertura">Cobertura</a></li>
            </ul>
        </div>
        <!-- Overlay que cubre toda la pantalla -->
        <div class="overlay" *ngIf="menuVisible" (click)="closeMenu()"></div>
        <div class="botones">
            <a [href]="urlWatssapp+textWatsapp" target="_blank" rel="noopener noreferrer">Contáctanos</a>
        </div>
    </div>
</nav>