<nav>
    <div class="container">
        <div class="logo">
            <a routerLink="">
                <span>TESLANET</span>
            </a>
        </div>
        <!-- Botón de menú (hamburger) -->
        <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
        <!-- Menú desplegable -->
        <div class="menu" [class.show]="menuVisible" [@menuAnimation]="menuState">
            <button class="close-button" (click)="closeMenu()">&#10005;</button>
            <ul>
                <li><a routerLink="">Inicio</a></li>
                <li><a routerLink="">Beneficios</a></li>
                <li><a routerLink="">Planes</a></li>
                <li><a routerLink="">Cobertura</a></li>
            </ul>
        </div>
        <div class="menu-2">
            <ul>
                <li><a routerLink="">Inicio</a></li>
                <li><a routerLink="">Beneficios</a></li>
                <li><a routerLink="">Planes</a></li>
                <li><a routerLink="">Cobertura</a></li>
            </ul>
        </div>
        <!-- Overlay que cubre toda la pantalla -->
        <div class="overlay" *ngIf="menuVisible" (click)="closeMenu()"></div>
        <div class="botones">
            <a href="">Contáctanos</a>
        </div>
    </div>
</nav>